/////////////////////////////
/// CUSTOM MIXINS ///
/////////////////////////////

//caret use: @include caret(left, 5px, red);
@mixin caret($point, $border-width, $color) {
    $opposite: opposite-position($point);
    border: $border-width solid transparent;
    border-#{$opposite}: $border-width solid $color;
    border-#{$point}: 0;
    height: 0;
    width: 0;
}

//icon fonts
//caret use: @include iconFont();
@mixin iconFont() {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: $icon-font !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

//placeholder color
//use: @include placeholder(#000, 0.5);
@mixin placeholder($color, $opacity) {
    &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: $color;
        opacity: $opacity;
    }

    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color;
        opacity: $opacity;
    }

    &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba($color, $opacity);
    }

    &::-ms-input-placeholder {
        /* Firefox 18- */
        color: $color;
        opacity: $opacity;
    }

    &:-moz-placeholder {
        /* Firefox 18- */
        color: $color;
        opacity: $opacity;
    }
}

//no text select
//@include no-select();
@mixin no-select() {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently not supported by any browser */
}

//visibility
//use: @include visibility(hidden|visible);
@mixin visibility($visibility) {
    @if $visibility=='hidden' {
        @include opacity(0);
        visibility: hidden;
    }

    @else {
        @include opacity(1);
        visibility: $visibility;
    }
}