/////////////////////////////
///BASES///
/////////////////////////////

$body-bg                    : #fff;


/////////////////////////////
///FONT SETTINGS///
/////////////////////////////

$font-family-base           : 'Open Sans',sans-serif;
$title-font                 : 'Open Sans',
sans-serif;
// $icon-font                  : 'icons-font'; //enable if using icon fonts

$font-weight-regular        : 400;
$font-weight-bold           : 600;

/////////////////////////////
///COLOR SYSTEMS///
///////////////////////////// 

//types colors
$title-color                : #000000;
$sub-title-color            : #ffffff;
$text-color                 : #0a0a0a;

//re-initialize colors 
$primary                    : #29435C;
$secondary                  : #ffffff; 
$mate-grey                  : #d3d3d3;
$mate-green                 : #206969;
$mate-brown                 : #ac8966;
$mate-blue                  : #29435c;


/////////////////////////////
///CUSTOMIZED BREAKPOINT///
///////////////////////////// 

$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px //new breakpoint
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px,
  xxxl: 1600px);



/////////////////////////////
///BUTTON COLORS///
///////////////////////////// 

$button-colors: ();
$button-colors: map-merge(("primary" : #29435C,
  "secondary"       : #ffffff,
    "success"       : #3F9E0B,
    "info"          : #17a2b8,
    "warning"       : #FFCD00,
    "danger"        : #df3b43,
    "light"         : #6c757d,
    "dark"          : #2f2f2f,
    "black"         : #000,
  "yellow"          : #fec456),
  $button-colors);


/////////////////////////////
///OTHER SETTINGS///
///////////////////////////// 

$tooltip-font-size : 12px;

////////////////////////////////////////////////////////////////////////////////// 
///// Quickly modify global styling by enabling or disabling optional features.///
////////////////////////////////////////////////////////////////////////////////// 

$enable-shadows : true;