/////////////////////////////
/// Debug settings ///
/////////////////////////////

$debug: false; // true | false

////////////////////////////////////
/// checking debug operations ///
////////////////////////////////////

@if ($debug) {
    body {
        border: solid 10px $primary;
    }
}



/////////////////////////////
/// COMMON STYLES ///
/////////////////////////////
body {
    color: $text-color;
    background-color: $body-bg;
    font-family: $font-family-base;
}

img {
    max-width: 100%;
}

a {
    @include transition(all 0.2s linear);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
}

*::-moz-selection {
    background: $primary;
    color: #fff;
    text-shadow: none;
}

*::selection {
    background: $primary;
    color: #fff;
    text-shadow: none;
}

.radius-0 {
    @include border-radius(0 !important);
}

.no-shadow:not(:focus) {
    @include box-shadow(none !important);
}

.gutter-40 {
    $grid-gutter-width: rem(20);
    margin-right: -($grid-gutter-width);
    margin-left: -($grid-gutter-width);

    >.col,
    >[class*="col-"] {
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width;
    }
}

.gutter-10 {
    $grid-gutter-width: rem(5);
    margin-right: -($grid-gutter-width);
    margin-left: -($grid-gutter-width);

    >.col,
    >[class*="col-"] {
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width;
    }
}

.gutter-20 {
    $grid-gutter-width: rem(10);
    margin-right: -($grid-gutter-width);
    margin-left: -($grid-gutter-width);

    >.col,
    >[class*="col-"] {
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width;
    }
}

.gutter-16 {
    $grid-gutter-width: rem(8);
    margin-right: -($grid-gutter-width);
    margin-left: -($grid-gutter-width);

    >.col,
    >[class*="col-"] {
        padding-right: $grid-gutter-width;
        padding-left: $grid-gutter-width;
    }
}

.title-text {
    color: $secondary;
    line-height: rem(38);
    font-weight: $font-weight-bold;
}

.paragraph {
    color: $secondary;
    line-height: rem(28);
    font-weight: $font-weight-regular;
}

.spacer {
    padding: rem(45) 0;
}

.main-content-area {
    margin-top: rem(71);
}


@include media-breakpoint-up(md) {
    .col-md-equal {
        flex: 0;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
}

@include media-breakpoint-up(lg) {
    .col-lg-equal {
        flex: 0;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .col-lg-equal-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
    .spacer {
        padding: rem(60) 0;
    }
}

@include media-breakpoint-up(xl) {
    .col-xl-equal {
        flex: 0;
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    .spacer {
        padding: rem(90) 0;
    }
}

@include media-breakpoint-up(xxl) {
    .spacer {
        padding: rem(120) 0;
    }
}