/////////////////////////////
/// HOME PAGE ///
/////////////////////////////

.content-wrapper {
    .media-block {
        margin-bottom: rem(20);
        .image {
            max-height: rem(300);
        }
    }
    .details-block {
        .title-text {
            font-size: rem(26);
            color: $secondary;
            line-height: rem(34);
            margin-bottom: rem(30);
            font-weight: $font-weight-regular;
        }
        .paragraph {
            font-size: rem(15);
            font-weight: $font-weight-regular;
        }
    }
    
    .main-title {
        font-size: rem(26);
        margin-bottom: rem(35);
        font-weight: $font-weight-bold;
    } 
    .card-title {
        font-size: rem(20);
        font-weight: $font-weight-bold;
    }
    .card-text {
        font-size: rem(15);
        font-weight: $font-weight-regular;
    }



    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    
    @include media-breakpoint-up(md) {
        .media-block {
            min-height: rem(450);
        }
        .details-block {
            .title-text {
                font-size: rem(28);
                line-height: rem(36);
                margin-bottom: rem(45);
            }
            .paragraph {
                font-size: rem(16);
            }
        }
        .main-title {
            font-size: rem(28);
        }
    }
        
    @include media-breakpoint-up(lg) {
        .media-block {
            .image {
                max-height: 100%;
            }
        }
        .main-title {
            font-size: rem(30);
            margin-bottom: rem(30);
        }
    }

    @include media-breakpoint-up(xl) {
        .main-title {
            font-size: rem(45); 
            margin-bottom: rem(60);
        }
    }

    @include media-breakpoint-up(xxl) {
        .details-block {
            .title-text {
                font-size: rem(30);
                line-height: rem(40); 
            }
            .paragraph {
                font-size: rem(18);
            }
        }
    }
    // end
}

// banner section
.banner-section {
    background: $mate-blue;
    max-height: rem(500); 
    .video-wrapper {
        min-height: rem(200);
        .banner-video {
            max-height: rem(500);
        }
    }

    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
        
    @include media-breakpoint-up(md) {
        height: calc(100vh - 71px);
        max-height: 100%;
        .video-wrapper {
            .banner-video {
                height: 100%;
                max-height: 100%;
            }
        }
    }
        
    @include media-breakpoint-up(lg) {
        .video-wrapper {
            .banner-video {
                object-fit: cover; 
            }
        }
    }
    
    // end
}

// shoot section
.shoot-section {
    background: $mate-blue;

   ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    
    @include media-breakpoint-up(md) {
        .media-block,
        .details-block {
            width: 50%;
        }

    }
    // end
}

// upload section
.upload-section {
    background: $mate-grey;
    .details-block {
        .title-text {
            color: $title-color;
        } 
        .paragraph {
            color: $text-color;
        }
    }

    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    
    @include media-breakpoint-up(md) {
        .media-block,
        .details-block {
            width: 50%;
        }
    }
    // end
}

// tracking section
.tracking-section {
    background: $mate-green;

    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    
    @include media-breakpoint-up(md) {
        .media-block,
        .details-block {
            width: 50%;
        }
    }
    // end
}

// share section
.share-section {
    background: $mate-brown;
    .details-block {
        .title-text {
            color: $title-color; 
        }
        .paragraph {
            color: $title-color;
        }
    }

    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    
    @include media-breakpoint-up(md) {
        .media-block,
        .details-block {
            width: 50%;
        }
    }
    // end
}

// store section
.store-section {
    background: $mate-blue;

    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    
    @include media-breakpoint-up(md) {
        .media-block,
        .details-block {
            width: 50%;
        }
    }
    // end
}

// features section
.features-section {
    .main-title {
        color: $mate-green;
    } 
    .card-title {
        color: $title-color;
    }
    .card-text {
        color: $title-color;
    }
    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    @include media-breakpoint-up(sm) {
        .card-title {
            font-size: rem(18);
        }
    }

    @include media-breakpoint-up(md) {
        .card-title {
            font-size: rem(20);
        }
    }

    @include media-breakpoint-up(xl) {
        .card-title {
            font-size: rem(23);
        }
        .card-text {
            font-size: rem(17);
        }
    }
    // end
}

// choose section
.choose-section {
    background: $mate-green;
    .main-title {
        color: $secondary;
    } 
    .card-title {
        color: $secondary;
    }
    .card-text {
        color: $secondary;
    }
    .card {
        background: transparent;
        .card-img-top {
            max-width: rem(220);
        }
    }


    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    @include media-breakpoint-only(sm) {
        .card {
            .card-img-top {
                max-width: rem(130);
            }
        }
    }

    @include media-breakpoint-only(md) {
        .card {
            .card-img-top {
                max-width: rem(170);
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        .card-title {
            font-size: rem(24);
        }
        .card-text {
            font-size: rem(17);
        }
    }
    // end
}

// client section
.client-section {
    .main-title {
        color: $mate-brown;
        margin-bottom: rem(80);
    } 
    .list-item {
        list-style: none;
        width: 50%;
        img {
            max-width: rem(100);
        }
    }

    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    @include media-breakpoint-up(sm) {
        .list-item {
            width: 33.33%;
        }
    }

    @include media-breakpoint-up(md) {
        .list-item {
            width: 25%;
        }
    }

    @include media-breakpoint-up(lg) {
        .list-item {
            img {
                max-width: rem(120);
            }
        }
    }

    @include media-breakpoint-up(xl) {
        .list-item {
            img {
                max-width: rem(150);
            }
        }
    }
    // end
}

// contact section
.contact-section {
    background: $mate-brown;
    .main-title {
        color: $title-color;
    } 
    .paragraph {
        color: $title-color;
        max-width: rem(730);
    }
    .link-block {
        .link-btn {
            text-decoration: none;
            font-size: rem(18);
            color: $sub-title-color;
            font-weight: $font-weight-bold;
            border-bottom: rem(3) solid transparent;
            &:hover {
                border-bottom: rem(3) solid $sub-title-color;
            }
        }
    }
    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    @include media-breakpoint-up(sm) {
        .link-block {
            .link-btn {
                font-size: rem(22);
            }
        }
    }

    @include media-breakpoint-up(md) {
        .link-block {
            .link-btn {
                font-size: rem(24);
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .link-block {
            .link-btn {
                font-size: rem(28);
            }
        }
    }

    // end
}