/////////////////////////////
/// FOOTER ///
/////////////////////////////
.main-footer {
    background: $mate-blue;
    .social-block {
        .social-icon {
            color: $sub-title-color;
            font-size: rem(34);
            outline: none;
            text-decoration: none;
            &:hover {
                color: rgba($sub-title-color,0.4);
            }
        }
    }
    .footer-bottom-block {
        .footer-text {
            outline: none;
            font-size: rem(15);
            color: $sub-title-color;
        }
    }

    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    @include media-breakpoint-up(sm) {
        .link-block {
            .link-btn {
                font-size: rem(22);
            }
        }
    }

    @include media-breakpoint-up(xxl) {
        padding: rem(100) 0 !important;
    }
    // end
}