/////////////////////////////
/// HEADER ///
/////////////////////////////
.main-header {
    background: $primary;
    position: fixed;
    left: 0;
    top: 0; 
    right: 0;
    z-index: $zindex-fixed;
    .navbar-brand { 
        width: rem(160);
        height: rem(55); 
        outline: none; 
    }
    .navbar-toggler {
        outline: none; 
    }
    .nav-link {
        outline: none; 
        font-size: rem(16);
    }
    .navbar-nav {
        border-bottom: rem(1) solid rgba($secondary,0.1);
    }




    ///////////////////////////////////
    /////// MEDIA QUERY///////
    ///////////////////////////////////
    
    @include media-breakpoint-up(md) {
        .navbar-nav {
            border-bottom: 0;
        }
    
        .nav-link {
            border-bottom: rem(2) solid $primary;
            &:hover {
                border-bottom: rem(2) solid $secondary;
            }
        }
        .active .nav-link {
            border-bottom: rem(2) solid $secondary; 
        }
    }

    @include media-breakpoint-only(lg) {
        .nav-link {
            font-size: rem(16); 
        }
    }
    
    @include media-breakpoint-only(md) {
        .nav-link {
            font-size: rem(14); 
        }
    }
} 